# Server side
DATABASE_URL="postgresql://postgres:postgres@db:5432/youtube_clone"
ELASTICSEARCH_URL=http://elasticsearch:9200
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=videos

# Server + Client side
NEXT_PUBLIC_MINIO_ENDPOINT=http://localhost:9000
NEXT_PUBLIC_API_HOST=localhost